* {
    padding: 0;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nanum Gothic', sans-serif;
}

body{
    width:100%;
    overflow-x: hidden;
}
.main-container{
    display: flex;
    flex-flow: row nowrap;
    height: 100vh;
}

#side-menu{
    flex-basis:10vw;
    background: #1de9b6 ;
}
#main-content{
    flex-basis: 90vw;
    background: #a7ffeb;
    padding: 12px;

}
ul{
    list-style-type: none;
}
li a {
    display: block;
    text-decoration: none;
    padding: 12px;
}
li:hover{
    background: #64b5f6 ;
    color: #f2f2f2;
}

#header{
    text-align: center;
    margin: 0;
    font-size: 1.2em;
    color:#fff;
    padding: 10px;
    background:#00bfa5;
}

table{
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    white-space: space wr;
}
/* thead tr{
    background: #f2f2f2;
} */
tbody tr:nth-child(even){
    background: #fff;
}
tbody tr:nth-child(odd){
    background: #c5cae9 ;
}
td{
    text-align: center;
    width:34px;
}
#cart-header{
   margin-top: 5px;
   margin-bottom: 5px;
   columns: #f2f2f2;
}
input, select{
    width:100%;
    margin-bottom: 5px;
    height:21px;
}
form{
    background: #f2f2f2;
    opacity: .8;
    padding: 18px;
}
label{
    font-weight: bold;
}
input[type="submit"]{
    background: #64b5f6;
    padding: 18px;
    width:120px;
    color: #f2f2f2;
    border:none;
    outline: none;
}
caption input{
    width:60%;
    margin: 0 auto;
    height:19px;
    padding: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

/* small screens display */
@media(max-width:680px){
    body{
        width:100%;
        height:80%;
        font-size: 10pt;
    }
    #header{
        margin-top: 14px;
    }
    .main-container{
        flex-flow: column wrap;
        justify-content: space-evenly;
        font-size:11pt;
    }
    
    #main-content{
        flex:1;
        height:70vh;
        order:1;
    }
    #side-menu{
        flex:1;
        order:2;
        height:30vh;
    }
    li a{
        padding: 5px;
    }

}
