* {
    padding: 0;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nanum Gothic', sans-serif;
}
ul{
  list-style-type: none;
}
li, a{
    text-decoration: none;
    width: 80%;
}
li:hover{
    background: #64b5f6 ;
    color: #f2f2f2;
    
}
li:active{
    background: #ffffff;
}
body{
    background: #fff;
    overflow-y: hidden;
    height:80%;
}
.main-container{
    display: flex;
    height:100vh;
}
#side-menu{
    height:100vh;
    flex:2;
    background: #1de9b6 ;
    padding: 12px;
}
#side-menu li {
    padding: 15px;
}
#main-content{
    height:100vh;
    flex:8;
    padding-top: 65px;
    background: #a7ffeb;
}
table{
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    white-space:nowrap;
}
thead th:nth-child(1){
    width:30%;
}
thead th:nth-child(2){
    width:20%;
}
thead th:nth-child(1){
    width:15%;
}
thead th:nth-child(1){
    width:35%;
}
tbody tr:nth-child(even){
    background: #fff;
}
tbody tr:nth-child(odd){
    background: #c5cae9 ;
}
tbody td{
    text-align: center;
}
tbody td a{
    background: #0d47a1;
    color:#777;
    width:100%;
    height:100%;
    padding: 12px;
}

th, td{
    padding: 20px;
}
tbody tr:hover{
    background: #bbdefb ;
}

#header{
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 9px;
}

/* form related styles */
.attendant-form{
    padding: 23px;
    overflow-x: hidden;
    background: #f2f2f2;
    filter:opacity(.7);
    color:#333;
    width:50vw;
    margin:0 auto;
}
.input-field input{
    width:90%;
    outline: none;
    border:none;
    border-bottom: 1px solid #006064 ;
    margin-bottom: 4px;
    padding: 12px;
    background: transparent;
}
.input-field input:focus{
    border-bottom: 1px solid #fff; ;
}
#signup-btn input{
    width:125px;
    height:34px;
    border:none;
    border-radius: 4px;
    background: #0d47a1;
    color:#fff;
}
#signup-btn input#category_add{
    margin-top: 9px;
}
label{
    padding: 9px;
}
#last{
    background: transparent;
    
}
#last a{
    color:#fff;
}

/* product specific */
select{
    width:90%;
    padding: 12px;
    text-align: center;
    border:none;
    outline: none;
    background:transparent;
    border-bottom: 1px solid #000;
}
option{
    padding: 12px;
}

/* responsive small screen */
@media(max-width:680px){
    body{
        width:100%;
        overflow-x: hidden;
    }
    .main-container{
        flex-flow: column wrap;
    }
    #main-content{
       order:1;
       flex-grow: 12;
    }
    #side-menu{
        order:2;
        flex-grow: 12;
    }
}